/*
Error: Invalid CSS after "    @include": expected identifier, was "}"
        on line 10 of /home/david/Programming/Github/website/sass/layout/_descimages.scss
        from line 5 of pages/_home.scss
        from line 4 of main.scss

5:     @include gridle_container();
6:     width:100%;
7:     height:25%;
8:     .desc-image{
9:     @include
10:     }
11:     .desc{
12: 
13:     }
14:   }
15: }

Backtrace:
/home/david/Programming/Github/website/sass/layout/_descimages.scss:10
pages/_home.scss:5
main.scss:4
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:1163:in `expected'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:1099:in `expected'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:1094:in `tok!'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:235:in `include_directive'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:219:in `special_directive'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:194:in `directive'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:661:in `block_child'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:650:in `block_contents'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:642:in `block'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:661:in `block_child'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:653:in `block_contents'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:642:in `block'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:661:in `block_child'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:653:in `block_contents'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:642:in `block'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:635:in `ruleset'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:660:in `block_child'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:650:in `block_contents'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/scss/parser.rb:42:in `parse'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/engine.rb:393:in `_to_tree'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/engine.rb:299:in `to_tree'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:88:in `block in with_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:88:in `with_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:315:in `map'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:88:in `block in with_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:88:in `with_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:396:in `run'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:62:in `process_result'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/home/david/.prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
/home/david/.prepros/resources/app/ruby/loader.rb:15:in `load'
/home/david/.prepros/resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    @include\": expected identifier, was \"}\"\A         on line 10 of /home/david/Programming/Github/website/sass/layout/_descimages.scss\A         from line 5 of pages/_home.scss\A         from line 4 of main.scss\A \A 5:     @include gridle_container();\A 6:     width:100%;\A 7:     height:25%;\A 8:     .desc-image{\A 9:     @include\A 10:     }\A 11:     .desc{\A 12: \A 13:     }\A 14:   }\A 15: }"; }
