$float:left;
.banner {
  @include gridle_container();


  border: solid 1px #000;
  height:90%;
  padding:6% 2% 0% 2%;
  .banner-container {
    height:100%;
    width:100%;
    background: #6858fa;
    border: solid 1px #000;
    .banner-content{
      @include gridle_set((
      grid:4, push:2
      ));
      text-align:center;
      font-size:2rem;
      border: solid 1px #000;
    }
  }
}
