$float: left;
.banner {
  @include gridle_container();
  color:$text-color-primary;
  height: 90%;
  padding: 6% 2% 0;
  background: url("#{$assetPath}/images/banner.jpg") no-repeat 0 0;
  background-position: center center;
  background-size: cover;
  background-color: #464646;

  .banner-container {

    height: 100%;
    width: 100%;
    .banner-content {
      @include gridle_set(( grid:4, push:2, mobile:(grid:12) ));
      text-align: center;

      .banner-logo{
        max-width:75%;
        max-height:75%;
      }
      .banner-title{
        font-size:3rem;
        color:$text-color-secondary;
      }
      .banner-text{
        font-size:1.7rem;
        color:$text-color-secondary;
      }
    }
  }
}
