.footer {
  border: solid 1px #000;
  @include gridle_container();
  .footer-section {
    @include gridle_container();
    padding: 4% 2%;
    background-color: $primary-light-color;
    .footer-social {
      @include gridle_set(( grid: 3, mobile:( grid: 12) ));
      border: solid 1px #000;
    }
    .footer-links {
      @include gridle_set(( grid: 3, mobile:(grid: 12) ));
      border: solid 1px #000;
    }

  }
  .footer-end {
    @include gridle_set(( grid: 12 ));
    height: 10%;
    border: solid 1px #000;
    background-color: $primary-color;
    p {
      @include vertical-align();
      text-align: center;
    }
  }

}
//padding: 4% 2% 4% 2%;
