.twodesc {
  padding: 2%;
  @include gridle_container();
  height: 45%;

  border: solid 1px #000;
  .desc1 {
    @include gridle_set(
    ( grid : 6,
     mobile :( grid : 12 )
    )
    );
    text-align: center;
    height: 100%;
    background: #edc360;
    border: solid 1px #000;
    h2{
      padding: 2% 0% 2% 0%; 
    }
  }
  .desc2 {
    @include gridle_set(( grid : 6, mobile : ( grid : 12 ) ));
    height: 100%;
    text-align: center;
    background: #edc360;
    border: solid 1px #000;
  }
}
