.twodesc{
  @include gridle_container();
  height:45%;
  background: #edc360;
border: solid 1px #000;
  .desc1{
    @include gridle_set((
    grid:6
    mobile:(
      grid:12
    )
    ));
    height:100%;
    border: solid 1px #000;
  }
  .desc2{
    @include gridle_set((
    grid:6
    mobile:(
      grid:12
    )
    ));
    height:100%;
    border: solid 1px #000;
  }
  h1{
    text-align: center;
  }
}
