.nav {
  @include gridle_container();
  position: fixed;
  width: 100%;
  height: 8%;
  z-index: 1;

  @include gridle_state (mobile) {
    .logo-title {
      @include gridle_hide(mobile);
    }
    .nav-section {
      //@include gridle_hide( mobile );
    }
  }
  .nav-title-area {
    @include gridle(3);
    height: 100%;
    h3{
      color: $text-color-secondary;
    }
    //  @include centerText(1.2rem, 8%);
  }
  .nav-section {
    @include gridle(9);
    text-align: right;

    height: 100%;
    li {
      display: inline;
      padding: 0 2%;
      a{
        color: $text-color-secondary;
      }
    }
  }

}
.vertical-align {
  @include vertical-align();
}
