.nav {
  @include gridle_container();
  position:fixed;
  width:100%;
  background: #d6523f;
  height:8%;
  z-index:1;
  @include gridle_state (mobile) {
    .logo-title{
      @include gridle_hide( mobile );
    }
    .nav-section{
      //@include gridle_hide( mobile );
    }
  }
  .nav-title-area {
    @include gridle(3);
    border: solid 1px #000;
    height:100%;

  //  @include centerText(1.2rem, 8%);
  }
  .nav-section {
    @include gridle(9);
    border: solid 1px #000;
    text-align:right;
    height:100%;
    li {
      display: inline;

    }
  }
}
.vertical-align{
  @include vertical-align();
}
