@import "typography";
@import "../helpers/functions";
@import "animations";
// @import "fancy";
// @import "vendor/gridle/sass/gridle/gridle";
// @import "layout/grid";
// $assetPath : "/sass/assets";

.wrapper{
  margin:0 auto;
  width:100%;
  height:100%;
}
