.fadeIn{
  -vendor-animation-duration: 4s;
}
.show {
  opacity: .4;
}
.nav-bg-semi{
  background:rgba(0, 0, 0, 0.4);
}
.nav-bg{
  background:rgba(0, 0, 0, 0.8);
}
.noBackground {
	background-color: none;
}
