$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-bold : 600;

* {
	font-size:100%;
	padding:none;
	margin:0;
	text-decoration: none;
	outline: none;
	list-style-type: none;
	font-family: $text-font-family-primary;
	color:$text-color-primary;
}
body{
		font-size:1.2rem;
		background-color:$grey-100;
}
