@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Raleway);
* {
  font-size: 100%;
  padding: none;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  font-family: "Roboto Slab";
  color: white; }

body {
  font-size: 1.2rem;
  background-color: #fafafa; }

html {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0 auto; }

*, *:before, *:after {
  box-sizing: inherit; }

.rotate-90 {
  animation-name: rotate-90;
  -webkit-animation-name: rotate-90;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  visibility: visible !important; }

@keyframes rotate-90 {
  100% {
    transform: rotate(-90deg); } }
@-webkit-keyframes rotate-90 {
  100% {
    transform: rotate(-90deg); } }
.rotate {
  transform: rotate(-90deg);
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease; }

.rotate90 {
  animation-name: rotate90;
  -webkit-animation-name: rotate90;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  visibility: visible !important; }

@keyframes rotate90 {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0); } }
@-webkit-keyframes rotate90 {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0); } }
.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%; }

* {
  font-family: 'Raleway';
  font-weight: 400;
  color: white; }

html, body {
  height: 100%;
  margin: 0 auto; }

html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

video#bgvid {
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -100;
  margin: 0 auto;
  background: url() no-repeat;
  background-color: black;
  background-size: cover; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%; }

.title-container {
  width: 100%;
  margin: 0 auto;
  /* .title-desc:hover{
  color:#FFEB3B;
  }*/ }
  .title-container .title {
    font-size: 5rem;
    font-family: 'Roboto Slab';
    text-align: center;
    margin: 0 auto; }
  .title-container .title-desc {
    text-align: center;
    font-size: 1.5rem; }
  .title-container .title-desc, .title-container .title {
    transition: all .2s ease-in-out;
  /*&:hover{
  cursor:pointer;
  transition-duration:.3s;
  transform: scale(1.05);
  transition-property: transform;
  transition-timing-function: linear;
  color:#448AFF;
  transition: color 0.3s linear;
}*/ }

.social {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  text-align: center; }

.fa {
  margin: 2% 1% 0 1%;
  transition: all .2s ease-in-out; }
  .fa-instagram:hover {
    color: #517fa4; }
  .fa-facebook:hover {
    color: #3b5998; }
  .fa-twitter:hover {
    color: #55ACEE; }
  .fa-google-plus:hover {
    color: #dd4b39; }
  .fa-github:hover {
    color: black; }

.buttons {
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 10%; }

.buttons:after {
  content: "";
  display: table;
  clear: both; }

.button {
  float: left;
  width: 40%;
  margin: 10%;
  padding: 1% 2%;
  border-radius: 0px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  transition: .4s;
  border-style: solid;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.button:hover {
  color: white; }

.red:hover {
  background-color: #F44336;
  border-color: #F44336; }

.green:hover {
  background-color: #4CAF50;
  border-color: #4CAF50; }

/* Small Devices, Tablets */
@media (max-width: 1200px) {
  .button {
    width: 100%;
    margin: 10% 0; }

  .title-container {
    margin-top: 20%; }

  * {
    font-size: 25px; } }
@media (min-width: 1200px) {
  .button {
    width: 30%;
    margin: 10%; }

  * {
    margin: 1rem 0 2rem;
    font-size: 17px; } }
.nav {
  position: relative;
  padding: 1%;
  margin-top: 0;
  padding-top: 3%;
  padding-left: 10%;
  min-width: 90%;
  padding-bottom: 3%; }
  .nav .nav-button {
    float: left;
    cursor: pointer;
    z-index: 10;
    margin: 0 auto; }
  .nav .nav-content {
    float: left;
    list-style-type: none;
    z-index: 0;
    min-width: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .nav .nav-content li {
      display: inline-block;
      z-index: 0;
      margin: 0 2% 0 2%;
      font-family: 'Raleway',sans-serif;
      color: white; }
      .nav .nav-content li a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        z-index: 0; }

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: white; }

.content-projects {
  margin: 0 auto;
  height: 100%;
  width: 100%; }

.content-title {
  font-size: 2rem;
  margin-left: 2.5%;
  color: black;
  height: auto;
  padding: 1%;
  padding-top: 0%; }

.content-grid {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: red; }
  .content-grid .content-row {
    width: 100%;
    margin: 0 auto;
    background-color: blue;
    z-index: -1;
    padding: 0 4% 0 4%;
    height: 25%; }
    .content-grid .content-row .content-item {
      float: left;
      width: 25%;
      height: 100%;
      z-index: 0;
      background-color: black;
      text-align: center;
      margin: 0 auto;
      position: relative; }
      .content-grid .content-row .content-item .item-content {
        margin: 0 auto;
        top: 50%;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0; }
      .content-grid .content-row .content-item .item-title {
        font-size: 3rem;
        margin: 0 auto;
        position: relative;
        padding: 1rem;
        z-index: 1;
        text-align: center;
        top: 50%;
        transform: translateY(-50%); }
      .content-grid .content-row .content-item .item-link {
        text-align: center; }

.content-row:after {
  content: "";
  display: table;
  clear: both; }

.container:after {
  content: "";
  display: table;
  clear: both; }

@media all and (max-width: 1025px) {
  .item {
    width: 45%;
    margin: 2.5% 2.5% 2.5% 2.5%; } }
@media all and (max-width: 500px) {
  .item {
    width: 90%;
    margin: 2.5% 2.5% 2.5% 2.5%; } }
.fa-times {
  color: black;
  cursor: pointer; }

.content-item:hover {
  background-color: pink; }

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto; }

.grid-title {
  height: auto;
  font-size: 3rem;
  padding-left: 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: Roboto Slab;
  color: white;
  width: 100%;
  color: black;
  margin: 0 auto; }

.grid {
  height: 80%;
  width: 100%;
  margin: 0; }
  .grid .row {
    width: 100%;
    margin: 0 auto;
    height: 40%;
    padding: 0 4% 0 4%; }
    .grid .row .item {
      height: 100%;
      float: left;
      background-color: red;
      position: relative;
      transition: all 500ms ease;
      margin: 0 auto;
      background-image: url("http://lorempixel.com/600/600"); }
      .grid .row .item .item-title {
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
        position: relative;
        top: 50%;
        color: white;
        z-index: 1;
        transform: translateY(-50%);
        transition: opacity 500ms ease; }
      .grid .row .item .item-content {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        opacity: 0;
        transition: opacity 500ms ease;
        position: absolute;
        top: 0;
        right: 0; }
        .grid .row .item .item-content .item-text {
          position: relative;
          text-align: center;
          width: 100%;
          top: 50%;
          transform: translateY(-50%); }
    .grid .row .item:hover > .item-content {
      opacity: 1; }
    .grid .row .item:hover .item-title {
      opacity: 0; }

.footer {
  height: 10%;
  width: 100%;
  margin: 0 auto;
  position: relative; }

@media (max-width: 1200px) {
  .item {
    width: 50%; } }
@media (max-width: 500px) {
  .item {
    width: 100%; } }
@media (min-width: 1200px) {
  .item {
    width: 25%; } }

/*# sourceMappingURL=stylesheet.css.map */
