@import "mdcolors";
$primary-color: $grey-900;
$primary-light-color: $grey-800;
$secondary-color:$blue-500;
$reset-color: $grey-100;

$text-color-primary: $grey-100;
$text-color-secondary: $secondary-color;
$text-color-reset: $reset-color;

$text-font-family-primary:"Open Sans";
$text-font-family-secondary: "Lato";
@include web-fonts($text-font-family-primary);
@include web-fonts($text-font-family-secondary);
