@import "mdcolors";
$primary-color: $grey-50;
$color-icons:$grey-200;
$primary-color-light: $grey-500;
$secondary-color:$blue-500;
$reset-color: $grey-700;

$text-color-primary: $primary-color-light;
$text-color-secondary: $secondary-color;
$text-color-reset: $reset-color;

$text-font-family-primary:"Open Sans";
$text-font-family-secondary: "Lato";
@include web-fonts($text-font-family-primary);
@include web-fonts($text-font-family-secondary);
