
.wrapper{
  height:100%;
  width:100%;
	margin:0 auto;
}
.grid-title{
  height:auto;
  font-size:3rem;
  padding-left:5%;
  padding-top:2rem;
  padding-bottom:2rem;
  font-family:Roboto Slab;
  color:white;
  width:100%;
  color:black;
  margin:0 auto;
}
.grid{
  height:80%;
  width:100%;
  margin:0;
  .row{
    width:100%;
	margin:0 auto;
    height:40%;
    padding:0 4% 0 4%;
    .item{
      height:100%;
    //   width:25%;
	  float:left;
      background-color:red;
	  position:relative;
	  transition:all 500ms ease;
	  margin:0 auto;
      background-image:url('http://lorempixel.com/600/600');
      .item-title{
        font-size:2.5rem;
        text-align:center;
        width:100%;
        position:relative;
        top:50%;
		color:white;
		z-index:1;
        transform:translateY(-50%);
		transition:opacity 500ms ease;
      }
			.item-content{
				text-align:center;
				width:100%;
				margin:0 auto;
				color:white;
				background: rgba(0,0,0,0.5);
				height:100%;
				opacity:0;
				transition:opacity 500ms ease;
				position:absolute;
				top:0;
				right:0;
				.item-text{
					position:relative;
					text-align:center;
					width:100%;
					top:50%;
					transform:translateY(-50%);
				}
			}
    }
    .item:hover > .item-content{
      opacity:1;
    }
		
		.item:hover .item-title{
			opacity:0;
		}

  }
}
.footer{
    height:10%;
    width:100%;
    margin:0 auto;
    position:relative;
}
@media (max-width:1200px){
    .item{
        width:50%;
    }
}
@media (max-width:500px){
    .item{
        width:100%;
    }
}
@media (min-width:1200px){
    .item{
        width:25%;
    }
}